#unity-container { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

#unity-container.unity-desktop { 
  position: fixed;
}

#unity-container.unity-mobile { 
  position: fixed; 
  width: 100vw; 
  height: 100vh;
  top: 0;
  left: 0;
}

#unity-canvas { 
  background: #231F20;
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}

.unity-mobile #unity-canvas { 
  width: 100vw !important; 
  height: 100vh !important;
}

#unity-loading-bar { 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  display: none;
  text-align: center;
}

#unity-logo { 
  width: 154px; 
  height: 130px; 
  background: url('/TemplateData/unity-logo-dark.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
}

#unity-progress-bar-empty { 
  width: 141px; 
  height: 18px; 
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto;
  background: url('/TemplateData/progress-bar-empty-dark.png') no-repeat center;
  background-size: contain;
}

#unity-progress-bar-full { 
  width: 0%; 
  height: 18px; 
  margin-top: 10px; 
  background: url('/TemplateData/progress-bar-full-dark.png') no-repeat center;
  background-size: contain;
}

#unity-footer { 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.unity-mobile #unity-footer { 
  display: none;
}

#unity-logo-title-footer { 
  float: left; 
  width: 102px; 
  height: 38px; 
  background: url('/TemplateData/unity-logo-title-footer.png') no-repeat center;
  background-size: contain;
}

#unity-build-title { 
  float: right; 
  margin-right: 10px; 
  line-height: 38px; 
  font-family: arial; 
  font-size: 18px;
  color: white;
}

#unity-fullscreen-button { 
  cursor: pointer; 
  float: right; 
  width: 38px; 
  height: 38px; 
  background: url('/TemplateData/fullscreen-button.png') no-repeat center;
  background-size: contain;
  margin-right: 10px;
}

#unity-warning { 
  position: absolute; 
  left: 50%; 
  top: 5%; 
  transform: translate(-50%); 
  background: white; 
  padding: 10px; 
  display: none;
  z-index: 1000;
}

